@charset "utf-8";
@media (max-width:1200px){

}
@media (max-width:992px){
    html{
        height: auto;
    }
    body{
        height:auto;
    }
    header .all-header{
        width: 90%;
    }
    header .all-header .search{
        width: auto;
    }
    main{
        display: block;
        height: auto;
    }
    main .show-aside{
        width: 100%;
        position: absolute;
        background-color: #fff;
        z-index: 999;
        max-width: 100%;
        border-bottom: solid 1px #ededed;
    }
    main aside{
        height:calc(100% - 70px);
        position: absolute;
        transition: all 0.3s;
        background-color: #fff;
        z-index: 999;
    }
    main section .box-task{
        position: static;
        display: block;
        height: auto;
    }
    main section .box-task article{
        width: 90%;
        margin:30px auto;
        min-height: 500px;
    }
    .show-box-data{
        width:85%;
    }
    main section .box-task article .all-task ul li .show-op-task{
        right: 0;
    }
}
@media (max-width:768px){

}
@media (max-width:600px){

}