@charset "utf-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Nunito", sans-serif;
}
html {
  scroll-behavior: smooth;
}
input:focus {
  outline: none;
}
/* SCROLLBAR */
::-webkit-scrollbar {
}

/* Handle */
::-webkit-scrollbar-thumb {
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

/* Track */
::-webkit-scrollbar-track {
}

/*********/

/* placeholder color */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1b49658e;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #1b49658e;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #1b49658e;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #1b49658e;
}

/*********/
/* For mozila */
@-moz-document url-prefix() {
}
/**********************/
header {
  height: 70px;
  width: 100%;
  max-width: 4000px;
  margin: 0 auto;
  border-bottom: solid 1px #ededed;
}
header .all-header {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
header .all-header .icon-resp .hide-icon{
  display: none;
}
header .all-header .icon-resp {
  color: #1b4965;
  font-size: 35px;
  display: flex;
  align-items: center;
}

header .all-header .search {
  border: solid 2px #1b4965;
  display: flex;
  align-items: center;
  height: 40px;
  margin: 14.5px auto;
  width: 40%;
  padding: 0 10px;
  border-radius: 20px;
  color: #1b4965;
}
header .all-header .search input {
  border: none;
  width: 100%;
  padding: 0 5px;
  color: #1b4965;
}
header .all-header .search .fa-search {
  padding: 10px;
  border-radius: 50%;
  position: relative;
  left: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
header .all-header .search .fa-search:hover {
  background-color: #cce7e1;
}
main {
  display: flex;
  width: 100%;
  max-width: 4000px;
  margin: 0 auto;
  /* height: calc(100% - 70px); */
}
main aside {
  height: 100%;
  max-width: 300px;
  transition: all 0.4s;
  width:0;
  overflow: hidden;
}
main .show-aside{
  width: 20%;
  border-right: solid 1px #ededed;
}
main aside .all-ul {
  width: 75%;
  margin: 0 auto;
  color: #1b4965;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  padding: 35px 0;
  height: 100%;
}
main aside .all-ul ul {
  min-width: 100%;
}
main aside .all-ul .list2 {
  height: auto;
  display: flex;
  flex-direction: column-reverse;
}
main aside .all-ul ul li {
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0;
}
main aside .all-ul ul .li-hide{
  font-size:18px;
}
main aside .all-ul ul li:hover {
  background-color: #cce7e1;
}
main aside .all-ul ul li i {
  margin-right: 10px;
}
main section {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  position: relative;
}
main section .box-task{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width:98%;
  max-width: 1600px;
  height:90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:30px 0;
}

/* BOXS TASKS */
main section .box-task article{
  width: 30%;
  max-width:350px;
  height:90%;
  max-height: 500px;
  min-height: 500px;
  border-radius: 8px;
}
main section .box-task article .top-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #1b4965;
}
main section .box-task article .top-box .top-box-title{
  display: flex;
}
main section .box-task article .top-box .top-box-title i{
  margin-left:5px;
}
main section .box-task article .top-box .number-tasks{
  background-color: #fff;
  color: #1b4965;
  border: solid 1px #1b4965;
  border-radius: 5px;
  padding:2px 6px;
}
main section .box-task article .all-task{
  position: relative;
  padding:10px;
}
main section .box-task article .all-task ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:6.5px;
  margin-bottom:8px;
  border-radius: 7px;
  font-weight: bold;
}
main section .box-task article .add-task{
  padding:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 7px;
  font-size:25px;
  cursor: pointer;
}
/* BOX TODO */
main section .box-task .box-todo{
  border: solid 1px #f8ccd1;
}
main section .box-task .box-todo .to-do-top-box-color{
  background-color:#f8ccd1;
}
main section .box-task .box-todo .add-task-todo{
  border: dotted 2px #e4707c;
  color: #e4707c;
}
main section .box-task .box-todo ul .task-todo{
  border: solid 2px #e4707c;
  color: #e4707c;
}

/* BOX DOING */
main section .box-task .box-doing{
  border: solid 1px #fbeecc;
}
main section .box-task .box-doing .doing-top-box-color{
  background-color:#fbeecc;
}
main section .box-task .box-doing .add-task-doing{
  border: dotted 2px #f2c85b;
  color: #f2c85b;
}
main section .box-task .box-doing ul .task-doing{
  border: solid 2px #f2c85b;
  color: #f2c85b;
}
/* BOX DOING */
main section .box-task .box-done{
  border: solid 1px #dcf1fe;
}
main section .box-task .box-done .done-top-box-color{
  background-color:#dcf1fe;
}
main section .box-task .box-done .add-task-done{
  border: dotted 2px #70cac0;
  color: #70cac0;
}
main section .box-task .box-done ul .task-done{
  border: solid 2px #70cac0;
  color: #70cac0;
}


/* BOX DATA */

.box-data{
  width:0;
  overflow: hidden;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  height:247px;
  border-radius: 8px;
  z-index: 9999;
  transition: all 0.3s;
}
.show-box-data{
  width: 50%;
  border: solid 1px #ededed;
}
.filter{
  filter: blur(5px);
}
.box-data .box-input{
  padding: 20px;
}
.box-data .box-input i, .box-data .box-input input, .box-data .box-input button{
  display:block;
  margin: 30px auto;
  height:39px;
}
.box-data .box-input i{
  color: #ff5e5e;
  font-size: 26px;
  float: right;
  margin-top: 0;
}
.box-data .box-input input{
  border: solid 2px #1b4965;
  border-radius: 8px;
  padding: 0 15px;
  color: #1b4965;
}
.box-input button{
  background-color: #1b4965;
  color: #fff;
  border: none;
  border-radius: 8px;
}
.box-data .box-input input, .box-data .box-input button{
  width: 100%;
}