@charset "utf-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
input:focus {
  outline: none;
}
/* SCROLLBAR */
::-webkit-scrollbar {
}

/* Handle */
::-webkit-scrollbar-thumb {
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

/* Track */
::-webkit-scrollbar-track {
}

/*********/

/* placeholder color */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1b49658e;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #1b49658e;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #1b49658e;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #1b49658e;
}

/*********/
/* For mozila */
@-moz-document url-prefix() {
}
/**********************/

.data{
  width:30%;
  margin: 100px auto;
}
input, select, button{
  width:90%;
  border-radius:5px;
  border: solid 2px #4791c9;
  padding:0px 10px;
  height:50px;
  margin:10px 0;
  color: #4791c9;
  font-size: 15px;
}

select{
  background-color: transparent;
} select:focus{outline: none;}
select option{
  height: 50px;
}
button{
  background-color: #4791c9;
  color: #fff;;
}


/* BOXS */
.boxs{
  display: flex;
  width:80%;
  margin: 100px auto;
  flex-wrap: wrap;
}
.box{
  border: 2px solid #4791c9;
  border-radius: 5px;
  width: 250px;
  padding:15px;
  margin-top: 15px;
  margin-right: 15px;
}

.header{
  display: flex;
  justify-content: space-between;
}
.header img{
  width:90px;
  height:90px;
}
.header i{
  color: #c94747;
}

.box-info{
  color: #4791c9;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}
.age{
  margin-top: 5px;
}
.country{
  margin-top:20px;
}